<!DOCTYPE html>
<html>
<head>
<title>IdeaReef</title>
<script type="text/javascript" src="js/anylinkcssmenu.js"></script>
<script type="text/javascript">

//anylinkcssmenu.init("menu_anchors_class") ////Pass in the CSS class of anchor links (that contain a sub menu)
anylinkcssmenu.init("anchorclass")
</script>
<link href="styles/css.css" rel="stylesheet" type="text/css" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
</head>

<body>
<div id="Wrapper">
<div class="holder">
  <div id="Header">
    <h1 class="logo"><a href="#">IdeaReef</a></h1>
    <div class="floatRight">
      <ul>
        <li><a href="#">Competitions</a></li>
        <li><a href="#">Laderboard</a></li>
        <li><a href="#" class="last">Treasury <span>1</span></a></li>
		<li><a rel="submenu1" class="anchorclass settings" href="#">Settings</a>
		
<ul id="submenu1" class="anylinkcss">
<li><a href="#">Account Settings</a></li>
<li><a href="#">Settings Links</a></li>
<li><a href="#" class="last">Other Settings</a></li>

</ul>

		</li>
        <li><a href="#" class="special">Log out </a></li>
      </ul>
      
    </div>
	<div class="search">
	  <input name="textfield" type="text" class="inputBox">
	</div>
    <div class="clear"></div>
  </div>
  <div id="InnerContent">
<div class="floatLeft">
<div class="up">
<div class="links">
   <div class="notification"><a href="#">1</a></div>
<div class="messages"><a href="#">10</a></div>
<div class="pavillion-home"><a href="#">2</a></div>
  <div class="clear"></div>
</div>
<div class="fLeft"><img src="images/profile-picture.jpg" alt="" width="200" height="200" class="profile">
<div class="type"><img src="images/bronze-profile.png"></div>
</div>
<div class="fRight">
  <h2><a href="#">Chris Paquette</a></h2>
  <p class="pav"><a href="#">Binghamton, NY</a></p>
  <ul>
    <li><a href="#">View Profile </a> </li>
    <li><a href="#">View Stats </a>    </li>
  </ul>
  <div class="clear"></div>
  </div>
<div class="clear"></div>
</div>
<div class="mid">
  <div class="contents">
  <div class="fLeft">My Network  Rank:</div>
  <div class="fRight">1/1035</div>
  <div class="clear"></div>
  </div>
  <div class="contents">
  <div class="fLeft">Binghamton Rank:</div>
  <div class="fRight">1/5</div>
  <div class="clear"></div>
  </div>
  <div class="contents last">
  <div class="fLeft">Current Competitions:</div>
  <div class="fRight">10</div>
  <div class="clear"></div>
  </div>
</div>
<div class="box">
<div class="top">
  <h2>Friends <a href="#">(2325)</a> </h2>
  <div class="fR"><a href="#">View All</a></div>
  <div class="clear"></div>
  </div>
  <div class="profiles">
    <ul>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
	  
      
    </ul>
	<div class="clear"></div>
    </div>
</div>
<div class="box">
  <div class="top">
  <h2>My Competitions <a href="#">(4)</a></h2>
  <div class="fR"><a href="#">View All</a></div>
  <div class="clear"></div>
  </div>
  <div class="profiles">
    <ul>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      
    </ul>
    <div class="clear"></div>
  </div>
</div>
<div class="box">
  <div class="top">
  <h2>Badges <a href="#">(10)</a></h2>
  <div class="fR"><a href="#">View All</a></div>
  <div class="clear"></div>
  </div>
  <div class="profiles">
    <ul>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      <li><a href="#"><img src="images/no-image-male.gif" alt=""></a></li>
      
    </ul>
    <div class="clear"></div>
  </div>
</div>
</div>
<div class="fL">
  <div class="topArea">
    <div class="lft"><img src="images/res.png" alt="" width="200" height="200"></div>
    <div class="mid">
      <p><a href="#" class="post">Weekly Shot Wheel Competition </a><br>
          <strong>Tom &amp; Marty's Pub</strong>, 
        Binghamton, NY 13905<br>
        355 Challanges - 303 in your Network<br>
      </p>
      <div class="ticker"><img src="images/bar.png" alt="" width="20"></div>
      <em>6 days left </em><br>
      <strong>Launched:</strong> 05/30/2012<br>
      <strong>Closing:</strong> 06/03/2012
      <div class="clear"></div>
    </div>
    <div class="rht">
      <p><img src="images/red-badge.png" alt="" width="32" height="32"></p>
      <p class="followers">Free Round of Drinks </p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="bottomArea">
    <div class="topmenu">
      <ul>
        <li><a href="#" class="sel">My Solutions</a></li>
        <li><a href="#">Description</a></li>
        <li><a href="#">Award Details</a></li>
        <li><a href="#">Solutions</a></li>
        <li><a href="#">Friends</a></li>
      </ul>
    </div>
    <div class="topmenurightsm">
      <ul>
        <li><a href="#">Map</a></li>
      </ul>
    </div>
    <div class="inside">
<div class="boxes">
  <div class="top">
    <h2>Buttery Nipple Shot  </h2>
    <div class="clear"></div>
  </div>
  <div class="bottom">
    <div class="clear">
      <table width="100%" cellpadding="0" cellspacing="1" class="listTable">
        <tr>
          <td class="imageBox"><img src="images/no-image.png" alt=""></td>
          <td><strong>Description:</strong> <br>
            1/2 Shot of Buttery Shot <br>
            1/2 Shot of Nipple Shot <br>
            <a href="#">Read more</a> </td>
          <td class="subscription"><span>153</span> <strong>Votes</strong><br>
            (+10 today) </td>
          <td class="stats"><a href="#">4th Place </a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="boxes">
        <div class="bottom">
          <div class="clear">
            <table width="100%" cellpadding="0" cellspacing="1" class="smTable">
              <tr>
                <td class="paddL deep"><strong>User <br>                
                  </strong></td>
                <td class="paddL">Chris Paquette </td>
              </tr>
              <tr>
                <td width="150" class="paddL deep"><strong>Network</strong></td>
                <td class="paddL">Binghamton University </td>
              </tr>
              <tr>
                <td class="paddL deep"><strong>Supporting
                  Documents</strong></td>
                <td class="paddL">&lt;none&gt;</td>
              </tr>
              <tr>
                <td class="paddL deep"><strong>Supporting Media </strong></td>
                <td class="paddL">&lt;none&gt;</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="boxes">
        <div class="bottom"> 
          <table width="100%" cellpadding="0" cellspacing="1" class="listTable">
            <tr>
              <td colspan="4" class="paddL deep"><strong>Current Leaders </strong></td>
              </tr>
                  <tr>
                    <td class="paddL"><a href="#">&quot;Cherry Bomb&quot;
                    </a></td>
                    <td width="25" class="txtCenter">by</td>
                    <td><a href="#">Daniel Kopf </a></td>
                    <td class="right"><a href="#">(250)</a></td>
                  </tr>
                  <tr>
                    <td class="paddL"><a href="#">&quot;Da Bomb Daddy&quot; </a></td>
                    <td class="txtCenter">by</td>
                    <td><a href="#">Chris Plaquette </a></td>
                    <td class="right"><a href="#">(173)</a></td>
                  </tr>
                  <tr>
                    <td class="paddL"><a href="#">&quot;Animalistics&quot;</a></td>
                    <td class="txtCenter">by</td>
                    <td><a href="#">Jessica Albert </a></td>
                    <td class="right"><a href="#">(55)</a></td>
                  </tr>
                          </table>
        </div></div>
      <div class="boxes">
        <div class="bottom"><a href="#" class="smBlueBtn">Generate a link to share with friends </a><div class="fLt"><a href="#"><img src="images/twitter.png" alt="" border="0"></a></div>
          <div class="fLt"><a href="#"><img src="images/facebook.png" alt="" border="0"></a></div>
          <div class="fLt"><a href="#"><img src="images/messages.png" alt="" width="30" height="30" border="0"></a></div>
		  <div class="clear"></div>
		</div>
      </div>
      <p class="txtCenter"><a href="#" class="smBlueBtn" style="float:none; width:120px; margin:auto;">Submit another idea</a></p>
	    <div class="clear"></div>
	</div>
  </div>
</div>
<div class="floatRight">
  <div class="box">
  <div class="top">
    <h2>Trending Competions</h2>
  </div>
  <div class="contents">
  <div class="items">
  <div class="fLeft"><img src="images/no-image-female.gif" alt=""></div>
  <div class="fRight">
    <h2><a href="#">Tom and Marty's</a></h2>
    <p><a href="#">Weekly Short Wheel Competion </a></p>
  </div>
  <div class="clear"></div>
  </div>
  <div class="items">
    <div class="fLeft"><img src="images/no-image-female.gif" alt=""></div>
    <div class="fRight">
      <h2><a href="#">Tom and Marty's</a></h2>
      <p><a href="#">Weekly Short Wheel Competion </a></p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="items">
    <div class="fLeft"><img src="images/no-image-female.gif" alt=""></div>
    <div class="fRight">
      <h2><a href="#">Tom and Marty's</a></h2>
      <p><a href="#">Weekly Short Wheel Competion </a></p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="items">
    <div class="fLeft"><img src="images/no-image-female.gif" alt=""></div>
    <div class="fRight">
      <h2><a href="#">Tom and Marty's</a></h2>
      <p><a href="#">Weekly Short Wheel Competion </a></p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="items last">
    <div class="fLeft"><img src="images/no-image-female.gif" alt=""></div>
    <div class="fRight">
      <h2><a href="#">Tom and Marty's</a></h2>
      <p><a href="#">Weekly Short Wheel Competion </a></p>
    </div>
    <div class="clear"></div>
  </div>
  </div>
  </div>
  <div class="btm">    Something not working right? <a href="#">Report a Bug</a> 
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
  </div>
  </div>
</div>
<div id="Footer">
<div class="holder">
<div class="floatLeft">Copyright &copy; 2012 Idea Reef Inc. All Rights Reserved.</div>
<div class="floatRight"><a href="#">Help</a> | <a href="#">Tell us to come!</a> | <a href="#">Partners</a> | <a href="#">About Us</a> | <a href="#">Companies</a></div>
<div class="clear"></div>
</div>
</div>
</body>
</html>
