<!DOCTYPE html>
<html>
<head>
<title>IdeaReef</title>
<script type="text/javascript" src="js/anylinkcssmenu.js"></script>
<script type="text/javascript">

//anylinkcssmenu.init("menu_anchors_class") ////Pass in the CSS class of anchor links (that contain a sub menu)
anylinkcssmenu.init("anchorclass")
</script>
<link href="styles/css.css" rel="stylesheet" type="text/css" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
</head>

<body>
<div id="Wrapper">
<div class="holder">
  <div id="Header">
    <h1 class="logo"><a href="#">IdeaReef</a></h1>
    
	<div class="clear"></div>
  </div>
  <div id="InnerContent">
    <div class="bottomArea">
  <div class="inside"><div class="formArea">
  <div class="boxes selBox">
        <p><strong>Input boxes &amp; select boxes with float Left           </strong>( a clear class is must under the input or select areas) </p>
        <p>&nbsp;</p>
        <p>
          <input name="textfield2" type="text" class="inputBoxMid" value="Enter text here">
          <select name="select">
            <option>Options</option>
          </select>
        </p>
        <div class="clear"></div>
		</div>
  
    <p>&nbsp;</p>
    <p><strong>Input boxes  </strong></p>
    <p>
      <input name="textfield2" type="text" class="inputBoxBig">
  </p>
    <p>
      <input name="textfield2222" type="text" class="inputBoxNormal">
    </p>
      <p>
        <input name="textfield222" type="text" class="inputBox">
      </p>
      <p>&nbsp;</p>
      <p><strong>Select</strong></p>
      <p>
        <select name="select4" class="inputBoxBig">
          <option>Please input list value here</option>
                        </select>
      </p>
      <p>
        <select name="select6" class="inputBoxNormal">
          <option>Please input list value here</option>
        </select>
      </p>
      <p>
        <select name="select5">
          <option>Please input list value here</option>
        </select>
      </p>
      <p>&nbsp;</p>
      <p><strong>Textarea</strong></p>
      <p>
      <textarea name="textarea" rows="5" class="inputBoxBig"></textarea>
      </p>
    <p><strong>Check Boxes </strong></p>
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td><input type="checkbox" name="checkbox2" value="checkbox"></td>
        <td>Annonymous hosting hompetition</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="checkbox4" value="checkbox"></td>
        <td>Open solutions for public viewing </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><table cellspacing="0" cellpadding="0">
          <tr>
            <td><input type="checkbox" name="checkbox22" value="checkbox"></td>
            <td>Enable public voting (Recommended for small competitions) </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox42" value="checkbox"></td>
            <td>Enable comments </td>
          </tr>
          
          </table></td>
      </tr>
      <tr>
        <td><input type="checkbox" name="checkbox3" value="checkbox"></td>
        <td>User can submit multiple solutions </td>
      </tr>
      <tr>
        <td><input type="checkbox" name="checkbox5" value="checkbox"></td>
        <td>Recurring competitions (4 Left) </td>
      </tr>
      </table>
    <p>&nbsp;</p>
    
  <p>
	      <input name="Submit" type="submit" class="smBlueBtn" value="Submit Button"> 
    </p>
	  
  <div class="clear"></div> 
</div>
  </div>
</div>    
<div class="clear"></div>
  </div>
  </div>
</div>
<div id="Footer">
<div class="holder">
<div class="floatLeft">Copyright &copy; 2012 Idea Reef Inc. All Rights Reserved.</div>
<div class="floatRight"><a href="#">Help</a> | <a href="#">Tell us to come!</a> | <a href="#">Partners</a> | <a href="#">About Us</a> | <a href="#">Companies</a></div>
<div class="clear"></div>
</div>
</div>
</body>
</html>
